.disqus_custom_style {
  padding-top: 1rem;
  margin: 1rem auto 1rem auto;
  max-width: 80%; // 87%
  @media only screen and (max-width: 68.75em) {
    max-width: 96%;
    margin: 1rem auto 0 auto;
  }
}
