@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @media only screen and (max-width: 68.75em) {
    font-size: 50%;
  }
}

body {
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  line-height: 1.6;
  color: #655a56;
  // background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
}

.proSakib {
  max-width: 100%; // 120rem
  margin: 0vw auto;
  // border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.2);
  min-height: 100vh;
  background: white;
  @media only screen and (max-width: 68.75em) {
    min-width: 100%;
    width: 100%;
    margin: 0 0;
    border-radius: 0;
  }
}

.proSakib-header {
  background: #f48982;
  color: white;
  text-align: center;
  padding: 2rem;

  h1 {
    font-size: 4rem;
    letter-spacing: 0.5px;

    @media only screen and (max-width: 500px) {
      font-size: 3rem;
    }
  }
}

.navbar-light .navbar-toggler {
  // border: 2px solid #e21d209f;
  border: none;
  outline: none;
}

.navbar {
  svg {
    height: 25px;
    width: 25px;
    margin: 4px 8px;
  }
  font-size: 1.6rem;
  background: white;
  padding: 0rem 0rem;

  @media (max-width: 768px) {
    padding: 1rem 1.5rem;
  }
  li {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &.navbar-light .navbar-brand {
    letter-spacing: 2px;
    font-size: 3.2rem;
    font-family: 'Yeseva One', cursive;
    color: #2b2e4a;
    user-select: none;

    span {
      color: #ff2e63;
    }
  }

  .navbar-toggler {
    font-size: 2rem;
  }

  .navbar-toggler-icon {
    font-size: 2rem;
  }
  &.navbar-light .navbar-nav .nav-link {
    color: #414141;
  }
  &.navbar-light .navbar-nav .active .nav-link {
    color: black;
  }

  &.navbar-light .navbar-nav .nav-item {
    padding: 1.6rem 0;

    @media (max-width: 768px) {
      padding: 1rem 0;

      &:last-child {
        padding-bottom: 2rem;
      }
    }

    a {
      transition: color 0.2s;
    }

    &.active {
      color: black;
    }

    &:hover {
      a {
        position: relative;
        @media (min-width: 768px) {
          &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -1px;

            width: 100%;
            height: 4px;

            background-color: #f48a82ec;
            display: block;
            text-align: center;
          }
        }
      }
    }
  }
}

// Spinner
.spinner {
  width: 1200px;
  text-align: center;

  > div {
    width: 20px;
    height: 20px;
    margin-right: 1.3rem;
    background-color: white;

    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  .bounce1 {
    animation-delay: -0.48s;
  }
  .bounce2 {
    animation-delay: -0.32s;
  }
  .bounce3 {
    animation-delay: -0.16s;
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
