<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/vendorTop'); %>
    <link rel="stylesheet" href="/testimonials.css" />
    <title>JS Programming Challenges | PWS</title>
  </head>
  <body>
    <div class="proSakib">
      <%- include('partials/navbar'); %>
      <div class="testimonials_page">
        <div class="heading">
          <h2 class="heading-text">PWS Student Testimonials</h2>

          <h4>
            Nothing makes us happier than the success of our students. Below is
            a collection of feedback from the students who are satisfied with
            our courses!
          </h4>
        </div>

        <div class="all_testimonials_wrapper">
          <div class="all_testimonials">
            <div class="testimonial">
              <div class="user_image">
                <img src="/images/JahidulSany.jpg" alt="Jahidul Sany" />
              </div>
              <div class="user_name">
                <p>Jahidul Islam Sany</p>
              </div>
              <div class="user_testimonials">
                <p>
                  All the resources are updated. Sakib sir is so diligent and
                  talented teacher, lectures are superb and enunciated
                  perfectly. I Loved the teaching ways, environment, especially,
                  the discord app. Above all, fully worthwhile buying this
                  course.
                </p>
              </div>

              <div class="user_contact">
                <a href="#">
                  <svg class="icon icon-facebook-logo">
                    <use
                      xlink:href="/images/icons.svg#icon-facebook-logo"
                    ></use>
                  </svg>
                </a>
                <a href="#">
                  <svg class="icon icon-linkedin">
                    <use xlink:href="/images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
                <a href="https://github.com/JahidulSany" target="_blank">
                  <svg class="icon icon-github-sign">
                    <use xlink:href="/images/icons.svg#icon-github-sign"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
